.google-fonts {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p {
  font-size: 20px;
}
.center {
  text-align: center;
}
.decoration {
  font-family: "Arial", "Meiryo", sans-serif;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 2px 2px 4px gray;
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203) ;
}
#basic div {
  font-weight: bold;
}
